sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: c/LzDl1bvLFfUKE7Yb4TIOEpJyh8JzyyBOoKhK+8vPASMARcII/CuTlldkJ3Sg5OllcSO6on198ADAK6EPMC8uJd3k9AlW/2N6XfJ69MLs0C9h5BxJnw0mrUYzXCSjfvKmj9JAFSTt+FOiECVMBDuNsyTuRKZ9lSzZHHCkDo3lCps9PSHziwI3XJVo5gXOE0clxg2RYMymgL65lorvoM+dQ2KhN0t8WZ8p0EyzB7tg40fEC2+rxBeeh71Ts2rzRgHmhjtMwxPZR4WXwtcX+sBCduBXUHC59t4ZhQXM7DamfYDL5xhF71zcWPSEeziTSKOllLn73Ym5TxpOMtXtpgu5+2UzUX1fMAuooltsB138qBsrzVm0FsgvCSNoP1cTgoXV/MkXTvqSKwpnmvLlp71SHpEaJ+OGN9Q0WgE09LyAEBRD7NlZpccM75JmxD/TiGCcU3ikKR/GilNum/R+BCIoKi+lfmS/2BZ1P8lih2SFS0UMJ1MFOhqsL20E6R+LdiPn/s4kH1n6qa+eLxAtQoKPQ2hzkLbyyXNFzXwK7QBQjVHjpxed9stuuBw0lQhIBmtlB13x7+ZRaZLcSgQdowL/hAXnsji1p0bUil2Wv0AWJW6JlOqP/j+fNAzBLaKlK0o9SnDt9lzboIHlkzG+Kf+9+qeEU6ZkN6MrxTw8p4gOE=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/An-Introduction-to-Yoga_4278
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy